.env
*.env
*.db
*$py.class
build/
.cache/
core
dist/
*.egg-info/
*.log
__pycache__/
*.py[cod]
.pytest_cache/
*.sample
sdist/
*.sqlite
*.sw[pon]
venv/
.vscode/
*.dump
log
*.log
.vscode
.bash_history
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local
work
creds
docker-compose.override.yml
